 body {
    font-family: sans-serif;
    background-color: #F5F5F5;
}

header {
    padding: 10px 0 20px;
    text-align: center;
    background-color: #EFEFEF;
    padding-top: 40px;
    padding-bottom: 40px;
    box-shadow: 0 4px 60px rgb(2 0 112 / 15%);
    height: 150px;
}

nav {
    color: #000;
}

.w-nav {
    z-index: 1000;
    background-color: black;
    position: absolute;
}
* {
    box-sizing: border-box;
}

.nav__link.phone_hide {
    display: none;
}

.nav__link {
    margin-bottom: 10px;
}
.nav__link {
    color: #000;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;
    text-decoration: none;
    transition: opacity .3s;
}
.w-nav-link {
    vertical-align: top;
    color: #222;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    position: relative;
}
a {
    background-color: rgba(0, 0, 0, 0);
}
* {
    box-sizing: border-box;
}

a:-webkit-any-link {
    color: black;
    cursor: pointer; 
}

.button__primary.header {
    box-shadow: none;
    flex: none;
    margin-left: auto;
    padding: 20px;
}


.button__primary{
    border: 1px solid var(--orange);
    color: orange;
    background-color: orangered;
    width: 150px;
    height: 40px;
    border-radius: 2px;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    font-size: 18px;
    font-weight: 700;
}

.button__primary:hover {
    background-image: linear-gradient(black, blue);
}

h1 {
    padding-left: 190px;
    font-size: 20px;
}

h2 {
    font-family: Reqular;
    font-size: 20px;
    padding-left: 45px;
}


element.style {
    width: 428px;
    height: 235px;
    object-fit: cover;
}

.info {
    flex-wrap: wrap;
    width: 1100px;
    margin: 0px;
}

article {
    background-color: white;
    padding: 5;
    width: 200px;
    margin: 0px;
}

.catalog {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 1000px;
    margin: 0 30px;
    background-color: lightblue;
}

.catalog a {
    text-decoration: none;
    border-bottom: 1px dotted black;
    font-size: 14px;
    color: black;
}

.product {
    width: 1000px;
    height: 370px;
    text-align: center;
    padding: 5px;
    border: 1px double gray;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: bisque;
}

article {
    background-color: white;
    padding: ;
    width: 200px;
    margin: 0px;
}

.article-but {
    text-decoration: none;
    background-color: rgb(7, 80, 25);
    color: black;
    font-size: 19px;
    text-align: center;
    padding: 10px 55px 10px 40px;
}

.catalog {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 1000px;
    margin: 0 30px;
    background-color: #FFFFFF;
}

.product {
    width: 150px;
    text-align: center;
    padding: 5px;
    border: 1px double gray;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: bisque;
}

.gallery img {
    border-radius: 55px;
    height: 60px;
    width: 60px;
}

h3 {
    padding-left: 400px;
}

h4 {
    padding-left: 80px;
    font-size: 18px;
    font-family: Times New Roman;
    color: rgb(10, 10, 10);
}

li {
    font-family: Brush Script MT ;
}

.button:hover{
    background-color: green;
    transition: 0.4;
}

button {
    background-color: #EC5A21;
    color: black;
    border:none;
}

.main-teachers__box-title {
    position: relative;
    color: #111111;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.444;
    margin-bottom: 5px;
}

.main-teachers__box-text {
    position: relative;
    max-height: 90px;
    max-width: 240px;
    font-size: 14px;
    line-height: 1.357;
    margin: 0 auto 10px;
    overflow: hidden;
}

.main-teachers__box-button {
    width: 240px;
    margin-left: auto;
    margin-right: auto;
}
.main-teachers__box-button {
    position: relative;
    text-align: left;
    margin-top: auto;
    z-index: 1;
}

.main-teachers__box-lang img {
    max-width: 20px;
    margin: 0 5px;
}
.slick-slide img {
    display: block;
}

h5 {
    padding-left: 300px;
    font-size: 20px;
}

.sppb-addon-gallery ul.sppb-gallery >li a {
    display: block;
    position: relative;
}

.sppb-gallery li a {
    display: block;
}

a:hover, a:focus {
    color: #f7941d;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
}

.sppb-addon-gallery ul.sppb-gallery >li a {
    display: block;
    position: relative;
}
.sppb-gallery li a {
    display: block;
}
a {
    color: #ed1c24;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
}
a {
    -webkit-transition: color 400ms, background-color 400ms;
    transition: color 400ms, background-color 400ms;
}
a {
    color: #337ab7;
    text-decoration: none;
}
a {
    background-color: transparent;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


a:-webkit-any-link {
    color: black;
    cursor: pointer;
}


li {
    text-align: -webkit-match-parent;
}
.sppb-gallery {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}


ul {
    list-style-type: disc;
}


.vc_btn3.vc_btn3-size-lg {
    font-size: 16px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: red;
    justify-content: flex-end;
}
.vc_btn3.vc_btn3-shape-rounded {
    border-radius: 5px;
    display: flex;
    justify-content: flex-end;
}
.vc_btn3.vc_btn3-style-modern {
    background-image: linear-gradient(to bottom,rgba(255,255,255,.2) 0,rgba(255,255,255,.01) 100%);
    background-repeat: repeat-x;
}

.choice__card-wrapper {
    padding: 25px 50px 25px 40px;
}
.choice__card-wrapper {
    border: 3px solid rgba(236, 90, 33, 0);
    border-radius: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    text-decoration: none;
    transition: all .3s;
    display: flex;
    box-shadow: 0 1px 40px 5px rgb(14 7 40 / 20%);
}
.w-inline-block {
    max-width: 100%;
    display: inline-block;
}
a {
    background-color: rgba(0, 0, 0, 0);
}

.fiatch__title {
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #00B4FF;
    margin-bottom: 7px;
}

div {
    display: block;
}
